body {
  background: lightgray;
  padding: 15px;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size:1.5em;
}
h4 {
  font-size: 1.3em;
}

hr {
  clear: both;
  border: 1px solid #79b1a7;
}

p {
  line-height: 20px;
}

/***********  Grid Definitions  ********/
.grid-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:100px 40px 350px auto 100px;
  grid-template-areas:"header header header header header header"
                      "nav nav nav nav nav nav"
                      "car car car car sum sum"
                      "news news blog blog form form"
                      "foot foot foot foot foot foot";
}
header {
  grid-area: header;
  display: flex;
  background: darkOliveGreen;
  justify-content: space-between;
}
nav {
  grid-area: nav;
  background: sienna;
  font-weight: bold;
}
.car {
  grid-area: car;
  display: flex;
  justify-content: center;
  align-items: center;
  background: goldenrod;

}
summary {
  grid-area: sum;
}
.newsletter {
  grid-area: news;
  background: burlyWood;
}
.blog {
  grid-area: blog;
  background: darkCyan;
}
.blog-form {
  grid-area: form;
  background: cornFlowerBlue;
}

footer {
  grid-area: foot;
  background: oliveDrab;
}
/******* End Grid Definition  *******/

/******* Multi use styles  *******/

.heading {
  font-weight: bold;
  font-size: 1.1em;
}

.block {
  margin:;
  padding:25px;
  border-top: 2px solid black;
}

.block-title {
  margin-bottom: 20px;
}

.read-more {
  float: right;
}

.title {
  margin-bottom: 10px;
  margin-top: 20px;
}

/* Header styles*/

.site-title, .search-etc {
  margin: 15px;
  align-self: center;
}
.search-etc {
  align-self: flex-end;
}
.links {
  text-align: right;
}
.links a {
  margin-left: 15px;
}
.search {
  margin-top: 10px;s
}
.search input {
  margin-right: 10px;
  width: 170px;
}
/******** Nav Styles    *********/

nav ul {
  display: flex;
  justify-content: flex-start;
}
nav li {
  list-style-type: none;
  padding: 10px 18px;
  border-right: 1px solid gray;
  vertical-align: middle;
}

ul {
  height: 100%;
}

/******** Summary Styles    *********/

p {

}

/******** Summary Styles    *********/

summary.block {
  border: none;
}

.heading {
  margin-bottom: 20px;
}


/******** Newsletter Styles    *********/

.newsletter h2 {
  display: inline;
}

.newsletter img {
  width: 100%;
  border: 1px solid gray;
  margin-bottom: 12px;
}

/********  Blog Styles   *********/

.blog-heading {
  margin-bottom: 10px;
}

.blog.block {
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.blog img {
  height: 80px;
  width: 80px;
  float: left;
  margin: 7px 15px 10px 0px;
}

/* New Blog form Styles*/

.blog-form input {
  width: 170px;
  margin-bottom: 10px;
  display: block;
}

.blog-form p {
  margin-bottom: 20px;
}

/* Footer Styles*/

footer span {
  margin-right: 8px;
}
footer p {
  padding-top: 5px;
}
